header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 4px #000 solid;
    margin-bottom: 10px;
}

body {
    background-color: lightgray;
}


aside {
    float:left;
    margin: 0 1.5%;
    width: 30%;
    
  
    
    
}

section {
    float: right;
    margin: 0 1.5%;
    width: 63%;
    
    
}

.btn-block {
    width: 75%;    
}

.cities {
    /* border-style: solid;  */
    /* border-width: thick; */
    padding: 5%;
    text-align: left; 
    border: 1px solid black;

}

